<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lmoumou.lib_widget">

    <application>

        <activity android:name=".ui.WidgetActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".ui.DoubleWaveActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".ui.RecyclerViewItemDecorationActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".ui.RecyclerViewDragActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".ui.CalendarActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".ui.SlideActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.TemperatureActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".ui.ShockCircleActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".ui.DashboardActivity"
                  android:screenOrientation="portrait"/>

    </application>


</manifest>
